<div class="container-fluid">

  <!-- start page title -->

  <app-page-title title="Detail" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <!-- end page title -->

  <div class="row" *ngIf="loading === false && invoiceDetail">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <div class="invoice-title" style="display: flex;justify-content: space-between;align-items: center;">
            <strong>Tax No: 311194062700003</strong>
            <img src="/assets/images/logo.png" style="width: 85px"/>
            <h4 class="font-size-16">Order #{{ invoiceDetail.order_id }}</h4>
          </div>
          <hr>
          <div class="row">
            <div class="col-6">
              <address>
                <strong>Billed To:</strong><br>
                {{ invoiceDetail.customer_id.billingAddress.fullname }}<br>
                {{ invoiceDetail.customer_id.billingAddress.street }}<br>
                {{ invoiceDetail.customer_id.billingAddress.city }}<br>
                {{ invoiceDetail.customer_id.billingAddress.country }}, {{ invoiceDetail.customer_id.billingAddress.zipCode }}
              </address>
            </div>
            <div class="col-6 text-right">
              <address>
                <strong>Shipped To:</strong><br>
                {{ invoiceDetail.deliveryInfo.name }}<br>
                {{ invoiceDetail.deliveryInfo.address }}<br>
                {{ invoiceDetail.deliveryInfo.city }}<br>
                {{ invoiceDetail.deliveryInfo.country }}, {{ invoiceDetail.deliveryInfo.postcode }}
              </address>
            </div>
          </div>
          <div class="row">
            <div class="col-6 mt-3">
              <address>
                <strong></strong><br>
                <b>Email: </b>{{ invoiceDetail.customer_id.billingAddress.email }}<br>
                <b>Phone: </b>{{ invoiceDetail.customer_id.billingAddress.phone }}
              </address>
            </div>
            <div class="col-6 mt-3 text-right">
              <strong>Shipping Company: </strong><br>
              {{ invoiceDetail.shipping_id.company }}<br>
              <strong>Shipping Time: </strong><br>
              {{ invoiceDetail.shipping_id.time }}<br>
              <address>
                <strong>Order Date:</strong><br>
                {{ invoiceDetail.createdAt | date: 'longDate' }}<br><br>
              </address>
            </div>
          </div>
          <div class="py-2 mt-3">
            <h3 class="font-size-15 font-weight-bold">Order summary</h3>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width: 70px;">No.</th>
                  <th>Item</th>
                  <th>Purity (Karats)</th>
                  <th>Weight</th>
                  <th class="text-right">Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of invoiceDetail.products; let i = index">
                  <td>{{ i + 1 }}</td>
                  <td>{{ product.description_en }}</td>
                  <td>{{ product.purity_id[0].name_en }}</td>
                  <td>{{ product.weight }}</td>
                  <td class="text-right">SAR {{ product.extra_price }}</td>
                </tr>

                <tr>
                  <td colspan="4">
                    <qrcode [qrdata]="invoiceDetail.qrCode" [width]="150" [errorCorrectionLevel]="'M'"></qrcode>
                  </td>
                  <td>
                    <table style="width: 100%;">
                      <tr>
                        <td colspan="2" class="text-right">Sub Total</td>
                        <td class="text-right">SAR {{ invoiceDetail.price }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="border-0 text-right">
                          <strong>Discount</strong></td>
                        <td class="border-0 text-right">{{ invoiceDetail.discountValue }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="border-0 text-right">
                          <strong>Tax</strong></td>
                        <td class="border-0 text-right">{{ invoiceDetail.tax }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="border-0 text-right">
                          <strong>Shipping</strong></td>
                        <td class="border-0 text-right">{{ invoiceDetail.shippingPrice }}</td>
                      </tr>
                      <tr>
                        <td colspan="2" class="border-0 text-right">
                          <strong>Total</strong></td>
                        <td class="border-0 text-right">
                          <h4 class="m-0">SAR {{ invoiceDetail.totalPrice }}</h4>
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="d-print-none">
            <div class="float-right">
              <a href="javascript:window.print()" class="btn btn-success"><i class="fa fa-print"></i></a>
              <a href="javascript: void(0);" class="btn btn-primary w-md ml-1">Send</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end row -->

  <div class="row" *ngIf="loading === true">
    <div class="col-12">
      <div class="text-center my-3">
        <div class="text-success"><i
            class="bx bx-loader bx-spin font-size-18 align-middle mr-2"></i> Loading</div>
      </div>
    </div> <!-- end col-->
  </div>

</div> <!-- container-fluid -->
